<footer id="footer-container">

    <img class="footer-decoration-logo" id="footer_decoration-logo_left_bottom" alt=""
         src="/_template_assets/footer_decoration/logo_footer_left_bottom.svg">

    <div id="footer">
        <span>Gemeinsam Abenteuer erleben!</span>
        <span><b>© {{ 'now' | date: "%Y" }} Cevi Züri 11</b></span>
        <span class="debug-info"><a href="https://github.com/wp99cp/cevi_zh11_webpage/commit/{{ site.data['hash']}}">(Build {{ site.data['hash']}} vom {{ site.time | date: '%d.%m.%Y %H:%M:%S'}})</a></span>
    </div>

    <img class="footer-decoration-logo" id="footer_decoration-logo_right_top" alt=""
         src="/_template_assets/footer_decoration/logo_footer_right_top.svg">
    <img class="footer-decoration-logo" id="footer_decoration-logo_right_bottom" alt=""
         src="/_template_assets/footer_decoration/logo_footer_right_bottom.svg">

</footer>
