<div id="footer-nav">


    <div class="footer-nav-container">

        <span class="footer-nav-title"><b>Dachorganisationen</b></span>

        <div id="footer-logo-container">

            <a href="https://ceviregionzuerich.ch">
                <img class="footer-logo" src="/_template_assets/partner_logos/logo_cevi_region_zurich.svg"
                     alt="Logo Cevi Region Zurich">
            </a>

            <a href="https://cevi.ch">
                <img class="footer-logo" src="/_template_assets/partner_logos/logo_cevi_schweiz.svg"
                     alt="Logo Cevi Schweiz"/>
            </a>

        </div>

    </div>

    <div class="footer-nav-container">

        <span class="footer-nav-title"><b>Web Rights</b></span>

        <a href="/impressum">
            <span>Impressum</span>
        </a>

        <a href="/impressum">
            <span>Datenschutz</span>
        </a>

        <a href="/impressum">
            <span>Disclaimer</span>
        </a>

        <a href="/sitemap">
            <span>Sitemap</span>
        </a>

    </div>


    <div class="footer-nav-container">

        <span class="footer-nav-title"><b>Cevi Züri 11</b></span>

        {%- assign pages = site.html_pages | sort: 'footer-menu-priority' -%}
        {%- for page in pages -%}
        {%- if page.footer-menu -%}
        <a href="{{ page.url }}">
            <span>{{ page.footer-menu }}</span>
        </a>
        {%- endif -%}
        {% endfor %}

    </div>

    <div class="footer-nav-container">

        <span class="footer-nav-title"><b>Spenden</b></span>

        <div id="footer-spenden-container">

            <span>
                Cevi Zürich 11<br>
                CH28 0070 0110 8006 3510 0
            </span>

        </div>

    </div>

</div>

