<div id="footer-nav">


    <div class="footer-nav-container">

        <span><b>Dachorganisationen</b></span>

        <div id="footer-logo-container">

            <a href="https://ceviregionzuerich.ch">
                <img class="footer-logo" src="/_template_assets/partner_logos/logo_cevi_region_zurich.svg"
                     alt="Logo Cevi Region Zurich">
            </a>

            <a href="https://cevi.ch">
                <img class="footer-logo" src="/_template_assets/partner_logos/logo_cevi_schweiz.svg"
                     alt="Logo Cevi Schweiz"/>
            </a>

        </div>

    </div>

    <hr class="footer-nav-separator">

    <div class="footer-nav-container">

        <span><b>Kontakt</b></span>

        <a href="/kontakt">
            <span>Kontakt</span>
        </a>

        <a href="/impressum">
            <span>Impressum</span>
        </a>

        <a href="/sitemap">
            <span>Sitemap</span>
        </a>

    </div>

    <hr class="footer-nav-separator">


    <div class="footer-nav-container">

        <span><b>Cevi Züri 11</b></span>

        {%- assign pages = site.html_pages | sort: 'footer-menu-priority' -%}
        {%- for page in pages -%}
        {%- if page.footer-menu -%}
        <a href="{{ page.url }}">
            <span>{{ page.footer-menu }}</span>
        </a>
        {%- endif -%}
        {% endfor %}

    </div>

</div>
