<header id="header-container">
    <div id="header">
        <img alt="Weblogo des Cevi Züri 11" src="/_template_assets/weblogo.svg" class="weblogo"/>
        <span class="header-title">Cevi Züri 11</span>

        <mat-icon class="mat-icon" id="open-nav">menu</mat-icon>
        <input id="menu-opener" name="toggle" type="checkbox"/>

        <div id="header-nav-container">

            <div class="logo-container">
                <a class="iconText" href="/">
                    <img src="/_template_assets/weblogo.svg" alt="Logo Cevi Züri 11" class="logo">
                    <span class="logoName">Cevi Züri 11</span>
                    <span class="logoSubname">8052 Zürich</span>
                </a>
                <hr>
            </div>

            <nav id="header-nav">

                {%- assign pages = site.html_pages | sort: 'main-menu-priority' -%}
                {%- for p in pages -%}
                    {%- if p.main-menu -%}
                            <div class="menu-item">

                                <a href="{{ p.url }}" class="{% if p.url == page.url %} active {% endif %}">
                                    <span>{{ p.main-menu }}</span>
                                </a>

                                <!-- Include Submenu -->
                                {%- assign subpages = site.html_pages | sort: 'sub-menu-priority' | where: 'sub-menu' , p.main-menu -%}
                                {%- assign selected = subpages | map: "url" -%}

                                {%- if subpages.size >= 1 -%}
                                    <mat-icon class="mat-icon" class="expand-more">expand_more</mat-icon>
                                    <input class="submenu-opener" name="toggle" type="checkbox"
                                           {% if selected contains page.url %} checked {% endif %} />
                                    <div class="submenu">
                                        <mat-icon class="mat-icon" class="expand-less">expand_less</mat-icon>
                                        {%- for sub_p in subpages -%}
                                            <a href="{{ sub_p.url }}" class="{% if sub_p.url == page.url %} active {% endif %}">
                                                <span>{{ sub_p.sub-menu-name}}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {%- endif -%}

                            </div>
                    {%- endif -%}
                {% endfor %}

            </nav>

        </div>

    </div>
</header>

