<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>

    <meta name="author" content="Cevi Züri 11">
    <meta name="keywords" content="Cevi Zürich 11, Fallbalken, Freizeitbeschäftigung, Hobby, Natur, Wald, Fallbrett">
    <meta name="description"
          content="Im Cevi Züri 11 erlebst du jeden Samstag von 2 bis 5 Uhr ein spannendes Programm im Wald. Unsere Programme richten sich an Kindern ab 4 Jahren.">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/_template_assets/main.css">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% if page.title %}
    <title>{{page.title}} - Cevi Züri 11</title>
    {% else %}
    <title>Cevi Züri 11</title>
    {% endif %}

    <script type="text/javascript" src="/script/main_nav.js"></script>

</head>