@charset "utf-8";

// Define defaults for each variable.
$base-font-family: Ubuntu, sans-serif;
$base-font-size: 16px !default;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

// Import partials.
@import "cevi_zh11/base";
@import "cevi_zh11/footer";
@import "cevi_zh11/header";