@import "colors";
@import "sizes";

#footer-nav-container {
  height: $footer-nav-height;
  overflow: hidden;
  background-color: $footer-nav-background-color;
  text-align: center;
  color: $footer-nav-color;

  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    padding-left: 330px;
    padding-right: 50px;
  }

  #footer-nav {
    padding: 50px 10px;
    overflow: hidden;

    a {
      text-decoration: none;
      color: $footer-nav-color;
      font-weight: normal;
    }

    span {
      font-size: 0.8rem;
      line-height: 1.5rem;
      display: block;
    }

  }
}

#footer-container, #footer a {
  height: $footer-height;
  overflow: hidden;
  background-color: $footer-background-color;
  color: $footer-color;
  text-align: center;
}

#footer a {
  font-weight: normal;
}

#footer-container {
  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    padding-left: 330px;
    padding-right: 50px;
  }

  #footer {
    padding: 25px 10px;
    overflow: hidden;


    span {
      font-size: 0.8rem;
      line-height: 1.5rem;
      display: block;
    }

    .debug-info {
      font-size: 0.6rem;
    }

  }

  // margin before first .debug-info element
  #footer > .debug-info {
    margin-top: 15px;
  }

  #footer > .debug-info ~ .debug-info {
    margin-top: 0;
  }


}

