@import "colors";
@import "sizes";

#footer-nav {
  overflow: hidden;
  background-color: $footer-nav-background-color;
  text-align: center;
  color: $footer-nav-color;

  padding: 50px;

  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    padding-left: 330px;
    padding-right: 50px;
  }

  @media only screen and (max-width: $keep-nav-open-breakpoint) {
    flex-direction: column-reverse;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  a {
    text-decoration: none;
    color: $footer-nav-color;
    font-weight: normal;
  }

  span {
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: block;
  }

  .footer-nav-container {
    width: 220px;
    padding: 30px;
    text-align: center;

    @media only screen and (min-width: 1600px) {

      &:not(&:first-child) {
        border-left: solid 1px #203f6d;
      }

      &:not(&:last-child) {
        border-right: solid 1px #203f6d;
      }

    }

    @media only screen and (max-width: $keep-nav-open-breakpoint) {
      padding: 30px 0;
      margin: 0 auto;
      &:not(&:last-child) {
        border-top: solid 2px #203f6d;
      }
    }

  }

}

#footer-container, #footer a {

  position: relative;
  height: $footer-height;
  overflow: hidden;
  background-color: $footer-background-color;
  color: $footer-color;
  text-align: center;
}

#footer a {
  font-weight: normal;
}

#footer-container {
  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    padding-left: 330px;
    padding-right: 50px;
  }

  #footer {
    padding: 25px 10px;
    overflow: hidden;


    span {
      font-size: 0.8rem;
      line-height: 1.5rem;
      display: block;
    }

    .debug-info {
      font-size: 0.6rem;
    }

  }

  // margin before first .debug-info element
  #footer > .debug-info {
    margin-top: 15px;
  }

  #footer > .debug-info ~ .debug-info {
    margin-top: 0;
  }


}

.footer-logo {
  margin: 10px 0 0 0;
  height: 20px;
  width: 200px;
}

.footer-decoration-logo {
  position: absolute;
  opacity: 0.25;
}

#footer_decoration-logo_left_bottom {
  height: 90px;
  left: 0;
  bottom: 0;

  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    left: 280px;
  }
}

#footer_decoration-logo_right_top {
  right: 0;
  top: 0;
  height: 75px;

  @media only screen and (max-width: $keep-nav-open-breakpoint) {
    display: none;
  }

}

#footer_decoration-logo_right_bottom {
  right: 0;
  bottom: 0;
  height: 120px;
}

#footer-spenden-container {
  white-space: nowrap;
}