@import "colors";
@import "shadows_borders";
@import "sizes";

#header-container {
  position: fixed;
  top: 0;
  z-index: 999;

  background-color: white;

  height: $header-height;
  overflow: hidden;

  #menu-opener {
    position: fixed;
    top: 0;
    height: 44px;
    width: 44px;
    left: 0;
    opacity: 0;
  }

  #menu-opener:checked {

    width: 100vw;
    height: 100vh;

  }

  #header {
    padding: 0 10px;
    border-bottom: $separator-border;
    height: calc(100% - 1px);
    overflow: hidden;
    color: $title-gray;
    background-color: white;

    .header-title {
      display: block;
      line-height: 50px;
      font-weight: bold;
      width: calc(100vw - 20px);
      text-align: center;
      font-size: 20px;
      top: 10px;

      // header text is aligned to the left on big screens
      @media only screen and (min-width: $keep-nav-open-breakpoint) {
        text-align: left;
        margin-left: 320px; // same as main body but correcting for margin of header (10px)
      }

    }

    .weblogo {
      margin: 10px;
      height: 28px;
      position: absolute;
      right: 0;

      // hide logo on big screen, as sidenav is always visible
      @media only screen and (min-width: $keep-nav-open-breakpoint) {
        display: none;
      }

    }



    #open-nav {
      position: absolute;
      top: 0;
      line-height: 50px;
    }

  }

}

@media only screen and (max-width: $keep-nav-open-breakpoint) {
  #menu-opener:not(:checked) ~ #header-nav-container {
    display: none;
  }
}

#header-nav-container {

  position: fixed;
  top: 0;
  left: 0;

  border-right: $separator-border;

  height: 100vh;
  width: 280px;

  background: white;

  #header-nav {

    height: calc(100vh - 150px);
    overflow: auto;

    a {
      padding-left: 12px;
      line-height: 40px;
      display: block;
      text-decoration: none;
      width: calc(100% - 12px - 10px);
      margin-right: 10px;

      span {
        padding: 10px 12px;
        color: $font-color;
        font-weight: 500;
      }

    }

    .active {
      background-color: #f3f3f3;
    }

  }

  .menu-item {
    position: relative;
    
    .submenu {
      padding-left: 25px;
    }

    .mat-icon, .submenu-opener {
      line-height: 40px;
      position: absolute;
      right: 10px;
      top: 0;
    }

    .submenu-opener {
      opacity: 0;
      z-index: 99;
      height: 40px;
      width: 40px;
      margin: 0;
      border-width: 0;
    }

    .submenu-opener:not(:checked) ~ .submenu {
      display: none;
    }

    .mat-icon {
      background-color: white;
      font-size: 35px;
      text-align: center;
      width: 40px;
    }

  }

}

.logo-container {

  width: 280px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
  }

  .iconText {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 35px 15px;
    grid-template-areas:
        "logo logoName"
        "logo logoSubname";
    padding: 7px 0;
    margin-top: 18px;
    user-select: none;

    .logo {
      margin: 10px 19px 10px 21px;
      grid-area: logo;
      width: 30px;
    }

    .logoName {
      font-size: 22px;
      line-height: 35px;
      color: $title-gray;
      grid-area: logoName;
      font-weight: 600;
    }

    .logoSubname {
      font-size: 12px;
      line-height: 15px;
      grid-area: logoSubname;
      color: $cevi-green;
      font-weight: 600;
    }

  }

}
