// Text colors
$cevi-green: #97bf0d;
$cevi-red: #e5352c;
$title-gray: #757575;
$font-color: #585858;
$button-blue: #93a1b5;

// Content-Area background color
$background-accent-color: #f3f5f7;

// Footer colors
$footer-color: #4e6c99;
$footer-nav-color: #637ca1;
$contrast-background:  #f6f7f9;
$footer-background-color: #0e274c;
$footer-nav-background-color: #1c3964;
