@import "colors";
@import "shadows_borders";
@import "fonts";
@import "sizes";


h3 ~ .input-container {
  margin: -12px 0 25px 0;
}

.input-container {
  display: grid;

  color: $font-color;
  margin: 25px 0;
  grid-template-columns: 100%;

  position: relative;

  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 10px;
  }

  button {
    width: 100%;

    @media only screen and (min-width: $keep-nav-open-breakpoint) {
      grid-column-start: 2;
      width: 100%

    }
  }

}

.input-container-sending {
  --content_msg: 'Testnachricht';
}

.input-container-sending:before {
  content: var(--content_msg);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-color: white;
  z-index: 1;
  border: $separator-border;
  display: grid;
  align-items: center;
  justify-content: center;
}

.styled-input, .styled-textarea, .styled-checkbox {
  position: relative;
  margin: 10px 0;
  overflow: hidden;

  width: 100%;
  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    width: calc(100% - 2px);
  }
}

input,
textarea {
  padding: 35px 30px 20px 30px;
  border: 0;
  width: calc(100% - 60px - 4px);
  border-radius: 10px;
  border: $separator-border;
  resize: vertical;
  font-size: 18px;
  font-family: $base-font-family;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  background-color: $contrast-background;
}

.styled-input, .styled-textarea {
  input:focus ~ label, textarea:focus ~ label,
  input:not([type=checkbox]):not([content=""]) ~ label, textarea:not([content=""])~ label,
  input[type=date] ~ label {
    font-size: 12px;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    padding: 25px 30px 0 30px;

  }
}

input[type=date]{
  resize: none;
}

.styled-input label, .styled-textarea label {
  padding: 20px 30px 0 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 18px;
}

.styled-input.wide, .styled-textarea.wide, .styled-checkbox.wide {
  @media only screen and (min-width: $keep-nav-open-breakpoint) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}


input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  min-height: 150px;
}

.styled-checkbox {
  display: grid;
  grid-template-columns: 40px auto;
  margin: 15px 0;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
}

input[type=checkbox] + label {
  line-height: 30px;
  position: relative;
  padding: 0;
}
